
.vs/AlignCareQA/v16/.suo
AlignCareQA/obj/AlignCareQA.csproj.nuget.dgspec.json
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.assets.cache
.vs/AlignCareQA/v16/.suo
AlignCareQA/obj/AlignCareQA.csproj.nuget.cache
AlignCareQA/obj/AlignCareQA.csproj.nuget.dgspec.json
AlignCareQA/obj/AlignCareQA.csproj.nuget.g.props
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.assets.cache
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.csproj.CoreCompileInputs.cache
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.csproj.FileListAbsolute.txt
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.csprojAssemblyReference.cache
AlignCareQA/obj/project.assets.json
.vs/AlignCareQA/v16/Server/sqlite3/storage.ide-shm
.vs/AlignCareQA/v16/Server/sqlite3/storage.ide-wal
.vs/AlignCareQA/v16/.suo
AlignCareQA/obj/AlignCareQA.csproj.nuget.cache
AlignCareQA/obj/AlignCareQA.csproj.nuget.dgspec.json
AlignCareQA/obj/AlignCareQA.csproj.nuget.g.props
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.assets.cache
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.csproj.CoreCompileInputs.cache
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.csproj.FileListAbsolute.txt
AlignCareQA/obj/Debug/netcoreapp2.1/AlignCareQA.csprojAssemblyReference.cache
AlignCareQA/obj/project.assets.json
